<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
	<head>
  		<title>New Event</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>Add new event</h1>
			
			<form action="#" method="post" th:action="@{/events}" th:object="${events}">
			
				<!-- EVENT NAME -->
				<div class="col-sm-6 form-group">
					<label>Event Name (Max Length: 256)</title>
					<input type = "text" class = "form-control" th:field = "*{name}" maxlength = "256" th:required = "required">
				</div>
	           
	               
				<!-- EVENT DATE -->
				<div class="col-sm-6 form-group">
					<label>Event Date</title>
					<input type = "text" class = "form-control" placeholder = "YYYY-MM-DD" th:field = "*{date}" th:required = "required">
				</div>
	            
				<!-- EVENT TIME -->
				<div class="col-sm-6 form-group">
					<label>Event Time</title>
					<input type = "text" class = "form-control" th:field = "*{time}">
				</div>
	            
				<!-- EVENT VENUE -->
				<div class = "col-sm-6 form-group">
					<label>Event Venue</label>
					<select th:field = "*{venue}" th:required = "required">
						<option th:each = "v : ${venues}" th:value = "${v.id}" th:text = "${v.name}"></option>
					</select>
				</div>

				<!-- EVENT DESCRIPTION -->
				<div class = "col-sm-6 form-group">
					<label>Event Description (Max Length: 500)</label>
					<textarea row = "5" cols = "25" th:field = "*{description}" maxlength = "500"></textarea>				
				</div>
				
				<button class = "btn btn-primary" type = "submit">Save</button>
				<a class = "btn btn-danger" role = "button" href = "/events">Cancel</a>
				
			</form>
 
		</div>
	</body>
</html>


    