<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Update an event</title>
</head>
<body>
    <form action="#" th:action="@{/update/{id}(id=${id})}" th:object="${event}" method="post">
    <table>
    	<tr>
    		<td><label>Name</label></td>
    		<td><input type="text" name="name" th:value="*{name}" /></td>
    	</tr>
    	<tr>/{id}(id=${id})
    		<td><label>Venue</label></td>
    		<td><select th:field="*{venue}">
    			<option th:each="venue : ${all_venues}" th:value="${venue.id}" th:text="${{venue.name}} >/option> 
    			</select></td>
    	</tr>
    	<tr>
    		<td><label>Date</label></td>
    		<td><input type="text" name="date" th:value="*{date}" /></td>
    	</tr>
    	<tr>
    		<td><label>Time</label></td>
    		<td><input type="text" name="time" th:value="*{time}" /></td>
    	</tr>
    	<tr>
    		<td>
    		</td>
    		<td>
    		<button type="submit" th:value="saveUpdate" name="action" class = "btn btn-primary">
    		<i class="fas fa-plus" aria-hidden="true"></i>Update</button>
    		</td>
    	</tr>	
    </table>
    </form>
</body>
</html>
